.App {
  text-align: center;
  margin: 100px;
}
.test {
  text-align-last: left;
}

.header{
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}
.result{
  background-color: black;
  color: aliceblue;
}
