*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
  /* font-size: 20px; */
}

.App {
  text-align: center;
  /* margin: 100px; */
}
.test {
  text-align: left;
  margin-left: 10%;
}

.header{
  display: flex;
  width: 90%;
  margin: 3px 5% ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}
.test-number {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 2px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
}
.result{
  background-color: black;
  color: aliceblue;
}
.test-container{
 max-width: 600px;
 min-width: 300px;
 /* width: 100%; */
  background-color: rgb(112, 173, 173);
  margin: 5%;
  text-align: center;
  border-radius: 20px;
  transition: 5s;

}
h3{
  margin: 20px;
}
h4{
  margin: 20px;
}

.next2 .check2{
  padding: 5px;
  background-color: rgb(211, 189, 161);
  color: black;
}

.next1 .check1{
  background-color: blue;
  color: black;
}
/* button{
  background-color: aqua;
} */


